{% extends 'base.html' %}
{% block title %}
    HELLO WORLD!
{% endblock %}
{% block main %}
<div style="text-align: center;">
    <p>hello</p>
    <p>{{ now }}</p>
    <p>{{ name }}</p>
    <p>{{ request.path_info }}</p>
    <p>{{ request.POST }}</p>
    <p>{{ host }}</p>
    <p>{{ users }}</p>
    <p>{{ users.query }}</p>
    <p>{{ md5str }}</p>
    {% csrf_token %}
</div>

<style>
    div{
        font-size: 20px;
    }
</style>
<script>
    $.post('userReg', {username: 'admin', csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()}, function(data) {
        console.log(data.msg);
        // $('#postdata').html(data);
    });
</script>
{% endblock %}
