{% extends 'base.html' %}
{% block title %}
    HELLO WORLD!
{% endblock %}
{% block main %}
<form>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">用户名</span>
      <input name="username" type="text" class="form-control required" placeholder="用户名" aria-describedby="basic-addon1">
    </div>
    <br>
    <!--下面是密码输入框-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">密码</span>
      <input value="password" name="password" type="password" class="form-control required" placeholder="密码" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
        <button type="button" style="width:280px;" class="btn btn-default" onclick="login()">登 录</button>
    </div>
    <br>
    <!--下面是登陆按钮,包括颜色控制-->
    <button type="button" class="btn btn-info" ><a style='color:white;text-decoration: none;' href="/userReg">注册</a></button>
    {% csrf_token %}
</form>
<style>
    body{  
        margin-left:auto;  
        margin-right:auto; 
        margin-TOP:100PX; 
        width:20em;  
    }
</style>
<script>
$(function(){
    $('.required').each(function(){
        if ($(this).val() == '') {
            $(this).onblur();
        }
    });
})
function login() {
    'use strict';
    var requestData = $('form').serialize();
    $.post('', requestData, function(data) {
        if (data.code == 200) {
            window.location.href = data.url;
            swal(data.url)
        }else{
            swal(data.msg); 
        }
    });
}
    
</script>
{% endblock %}
